.table {
	margin: 25px;
	width: 100%;
}

.table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;

	&>*>td,
	&>*>th {
		border: 1px solid var(--theme-col-background-contrast);
		text-align: left;
		padding: 8px;
	}
}
