:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --theme-col-status-green: #49af5f;
  --theme-col-status-amber: #ac8300;
  --theme-col-status-red: #e41e4f;
  --theme-col-status-gray: #575757;

  --col-background: #1e1e1e;

  --col-nav: #313131;
  --col-nav-hover: #383838;
  --col-shadow: #131313;

  --col-card: #272727;
  --col-card-title: #353535;
  color-scheme: var(--theme-color-scheme);
  background-color: var(--theme-col-background);
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

a {
  color: var(--theme-col-link);

  &:hover {
    color: var(--theme-col-link-hover);
  }
}

#root {
  display: flex;
  flex-direction: column;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 75%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  transition: width 0.2s, padding 0.2s;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}

@media only screen and (max-width: 700px) {
  .container {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.recharts-surface {
  overflow: visible;
  user-select: none;
}
