:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--col-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --col-primary: #e41e4f;

  --theme-col-status-green: #49af5f;
  --theme-col-status-amber: #ac8300;
  --theme-col-status-red: #e41e4f;
  --theme-col-status-gray: #575757;

  --col-background: #1e1e1e;

  --col-nav: #313131;
  --col-nav-hover: #383838;
  --col-shadow: #131313;

  --col-card: #272727;
  --col-card-title: #353535;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

#root {
  display: flex;
  flex-direction: column;
}

.container {
  width: 75%;
  min-width: 700px;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
