:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: var(--theme-color-scheme);
  background-color: var(--theme-col-background);
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

a {
  color: var(--theme-col-link);

  &:hover {
    color: var(--theme-col-link-hover);
  }
}

#root {
  display: flex;
  flex-direction: column;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 75%;
  min-width: 700px;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
