.header {
    display: flex;
    height: 65px;
    width: 100%;
    background-color: var(--col-nav);
    box-shadow: 0 5px 10px var(--col-shadow);
    align-items: center;
}

.brand {
    display: flex;
    margin-left: 65px;
    height: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: #e41e4f;
    font-size: 30px;
    align-items: center;
    text-decoration: none;
}

.brand:hover {
    background-color: var(--col-nav-hover);
    text-decoration: underline;
}

.logo {
    margin-right: 10px;
    width: 1em;
    height: 1em;

    font-size: 40px;

    /*
    Calculate filter by inputting desired colour on https://codepen.io/sosuke/pen/Pjoqqp.
    Current colour is #e41e4f.
    */
    filter: invert(22%) sepia(72%) saturate(6615%) hue-rotate(336deg) brightness(94%) contrast(89%);
}
